<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <section>
            <form name="registro" id="registro" method="get">
                <datalist id="informacion">
                    <option id="num1" name="num1">12345</option>
                    <option id="num2" name="num2">123456</option>
                    <option id="num3" name="num3">1234567</option>
                </datalist>
                <label for="tele">Telefono</label>
                <input id="tele" name="tele" type="tel" list="informacion">
            </form>
        </section>
    </body>
</html>